@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Medium'), local('Recoleta-Medium'),
        url('/assets/fonts/Recoleta-Medium.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Thin'), local('Recoleta-Thin'),
        url('/assets/fonts/Recoleta-Thin.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
        url('/assets/fonts/Recoleta-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Regular'), local('Recoleta-Regular'),
        url('/assets/fonts/Recoleta-Regular.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Bold'), local('Recoleta-Bold'),
        url('/assets/fonts/Recoleta-Bold.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Black'), local('Recoleta-Black'),
        url('/assets/fonts/Recoleta-Black.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Light'), local('Recoleta-Light'),
        url('/assets/fonts/Recoleta-Light.woff2') format('woff2'),
        url('/assets/fonts/Recoleta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}